canvas {
  border: 1px solid #000;
}
body {
  cursor: crosshair;
}
#reset, .color {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}
.color-blue{
  background: blue;
  border: 2px solid blue;
  
}
.color-red{
  background: red;
  border: 2px solid red;
}
